
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Barriecito&family=Barrio&family=Rubik+Microbe&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #e7d7c8;
    font-family: sans-serif;
}

header {
    color: #1e2b22;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 4.5rem;
    font-family: 'Arial';
}

header a{
    color: #2a3d30;
    text-decoration: none;
}

header a:hover {
    text-decoration: none;
    transition: 0.3s;
    font-size: 1.1rem;
}

img{
    max-width: 100%;
}

nav {
    display: flex;
    gap: 1rem;
}

nav a {
    color: #1e2b22;
    text-decoration: none;
}

nav a:hover {
    text-decoration: none;
    transition: 0.3s;
    font-weight: bold; 
    cursor: pointer;
}

nav a:active {
    color: #66816e;
    text-decoration: underline;
    transition: 0.3s;
    font-weight: bold; 
}

a:link,
a:visited {
    background-color: #1e2b22;
    color: white;
    margin-top: 0.2rem;
    padding: .2rem .4rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 0.3rem;
}

section {
    padding: 2rem;
}

footer {
    background-color: #1e2b22;
    color: white;
    padding: 1rem;
    text-align: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 8.75rem;
    margin: .7rem;
}

.titulo-header {
    padding: 0;
    margin: 0;
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    font-size: 2.5rem;
}

.container {
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;

}

.containerImg{
    display: flex;
    flex-wrap: wrap;
    background-color: #c1bdb2;
    margin: 0.5rem auto;
    padding: 1rem;
    border-radius: 0.5rem;
    max-width: 80%;
    justify-content: center;
}

.containerImg div{
    width: 290px;
    padding: 0.25rem;
}

.containerImg2{
    display: flex;
    flex-wrap: wrap;
    background-color: #c1bdb2;
    margin: 0.4rem auto;
    padding: 0.4rem;
    border-radius: 0.4rem;
    max-width: 100%;
    justify-content: center;
}

.containerImg2 div{
    width: 700px;
    padding: 0.5rem;
}

.programa {
    background-color: #eeddcc;
    margin: 0.4rem auto;
    padding: 0.4rem;
    border-radius: 0.5rem;
    max-width: 80%;
}

.titulosPrograma{
    color:#1e2b22;
    padding: 0;
    margin: 0;
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    font-size: 1.2rem;
}

summary {
    background-color: #E9CCAF;
    color:#1e2b22;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

summary:hover {
    background-color: #E9CCAF;
    color:#1e2b22;
    font-weight: bold;
    transition: 0.8s;
    font-size: 1.1rem;
    cursor: pointer;
}

details {
    overflow: hidden;
    max-height: 3rem;
    transition: max-height 0.4s ease;
}

details p {
    margin: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}

details[open] {
    max-height: 20rem;
}

details[open] p {
    opacity: 1;
}

.detailsCaja{
    background-color: #E9CCAF;
    padding: 1rem;
    border-radius: 0.5rem;
    transition: 0.3s;
}


.indice1{
    background-color: #caa6c2;
    margin: 0.5rem auto;
    padding: 1rem;
    border-radius: 0.5rem;
    max-width: 80%;
}

.indice2 {
    background-color: #c1bdb2;
    margin: 0.5rem auto;
    padding: 1rem;
    border-radius: 0.5rem;
    max-width: 80%;
}

a.sp:link,
a.sp:visited {
    padding: 0;
    margin-top: 0;

}


@media (max-width: 700px) {
    header {
        flex-direction: column;
    }
}